*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    background: linear-gradient(135deg,#48cbff,#8cddfd);
    height: 100vh;
    padding: 40px 0;
}

.today-area {
    display: flex; 
    justify-content: space-between;
}
.today-area h1{
    font-size: 42px;
}

.today-weather {
    text-align: left;
}

.weather-img img {width:150px ;}


.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg,#00feba, #5b548a) ;
    color: #fff;
    margin: auto;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    box-shadow: 0 17px 20px -18px rgba(0, 0, 0, 1);
}
.bgClouds {
    background: linear-gradient(135deg,#4e93f2, #0068d2) ;
}
.bgClear {
    background: linear-gradient(135deg,#47caff, #61d1fe) ;
}
.bgRain{
    background: linear-gradient(135deg,#596cca, #334dba) ;
}
.bgSnow{
    background: linear-gradient(135deg,#80d1fc, #2db3fc) ;
}
.bgDrizzle{
    background: linear-gradient(135deg,#6ba6f6, #3486f5) ;
}
.bgMist{
    background: linear-gradient(135deg,#9fdafa, #7dd0fc) ;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #dbfffc;
    color: #555;
    padding: 10px 25px;
    height: 40px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background: #dbfffc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.search button img {
    width: 16px;
}
.weather-icon {
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;   
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind {
    font-size: 28px;
    margin-top: -6px;
}

.weather {
    display: none;
}

.error {   
    text-align: left;
    margin-left: 10px;
    font-style: 14px;
    margin-top: 10px;
    display: none;

}

.today-area {
    display: none;
    padding-bottom: 20px;
}
.today-error {
    display: none;
}

.today-area .today-weather {float: left;}


@media (max-width:768px) {
    .search input {
        width: calc(100% - 80px);
    } 
}